<aside id="preview" class="result-panel invisible">
  <div id="results-ratio" class="result-preview">
    <div class="image-preview"></div>
  </div>
  <div class="panel callout">
    <fieldset class="result-sizes">
      <label class="dimension">X
        {{input name="data-x" type="text" placeholder="px"}}
      </label>
      <label class="dimension">Y
        {{input name="data-y" value="" type="text" placeholder="px"}}
      </label>
      <label class="dimension">Height
        {{input name="data-height" type="text" placeholder="px"}}
      </label>

      <label class="dimension">Width
        {{input name="data-width" value="" type="text" placeholder="px"}}
      </label>
    </fieldset>
  </div>
</aside>

<footer class="footer show-for-medium-up">
  <div class="toolbar">
    <button class="success radius" data-dropdown="topDrop" data-options="align: top"><i class="icon-ratio"></i> <span class="name">Aspect</span> </button>

    <button id="reset-image" class="secondary radius" {{action 'cropImage' this }}><i class="icon-close"></i> <span class="name">Cancel</span> </button>
  </div>
  <ul id="topDrop" class="f-dropdown" data-dropdown-content>
  <li><a class="aspect-ratio" data-value="1"><i class="icon-1-1"></i> Square</a></li>
  <li><a class="aspect-ratio" data-value="1.5"><i class="icon-3-2"></i> 3 x 2 </a></li>
  <li><a class="aspect-ratio" data-value="1.778"><i class="icon-16-9"></i> 16 x 9 </a></li>
</ul>
</footer>

<section class="tools show-for-small-only">
  <div class="icon-bar three-up">
    <a class="item" data-dropdown="topDrop" data-options="align: top">
      <i class="icon-ratio"></i>
      <label>Aspect</label>
    </a>
    <a id="toggle-preview" class="item">
      <i class="icon-image"></i>
      <label>Preview</label>
    </a>
    <a id="reset-image" class="item" {{action 'resetImage' this }}>
      <i class="icon-close"></i>
      <label>Reset</label>
    </a>
  </div>
  <ul id="topDrop" class="f-dropdown" data-dropdown-content>
  <li><a class="aspect-ratio" data-value="1"><i class="icon-1-1"></i> Square</a></li>
  <li><a class="aspect-ratio" data-value="1.5"><i class="icon-3-2"></i> 3 x 2 </a></li>
  <li><a class="aspect-ratio" data-value="1.778"><i class="icon-16-9"></i> 16 x 9 </a></li>
</ul>
</section>
