{{outlet}}

<div class="component-cropsy">

  <!-- Outlet: Notification -->
  <header class="notifications">
    <div data-alert class="alert-box">
      {{#link-to "index"}}Get started with {{Cropsy.applicationName}}{{/link-to}}
      <a {{action 'closeNotification' this }} class="close">&times;</a>
    </div>
  </header>

  <!-- Outlet: Stage -->
  <section class="crop-stage">

    <div class="image-original zoomer_wrapper viewer" style="height:500px">
      <figure class="original">
        <img src="http://fillmurray.com/1280/920">
      </figure>

      <div class="selection ghost">
      </div>

      <div class="selection tinted">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1280 920" enable-background="new 0 0 1280 920" xml:space="preserve">
          <path d="M0,0v920h1280V0H0z M1073.8,893.8H206.2V26.2h867.6V893.8z"/>
        </svg>
      </div>

  </section>

  <!-- Outlet: Results -->
  <aside class="result-panel">
    <figure class="result">
      <img src="http://fillmurray.com/420/420">
    </figure>

    <fieldset class="result-sizes">
      <label class="dimension">Height
        {{input type="text" placeholder="px"}}
      </label>

      <label class="dimension">Width
        {{input type="text" placeholder="px"}}
      </label>
    </fieldset>

    <button class="secondary radius" {{action 'finishCropping' this }}><i class="icon-close"></i> Cancel</button>
    <button class="success radius" {{action 'finishCropping' this }}><i class="icon-checkmark"></i> Finish</button>
  </aside>

  <!-- Outlet: Toolbar -->
  <footer>
    <fieldset class="toolbar">
      <div class="tool-aspect">
        <button class="warning radius" {{action 'setAspectRatio' this }}><i class="icon-image"></i> Aspect Ratio</button>
      </div>

      <ul class="tool-zoom button-group radius">
        <li><button class="dark" {{action 'zoomIn' this }}><i class="icon-plus"></i> Zoom In</button></li>
        <li><button class="dark" {{action 'zoomOut' this }}><i class="icon-minus"></i> Zoom Out</button></li>
      </ul>

      <div class="tool-crop">
        <button class="success radius" {{action 'cropImage' this }}><i class="icon-crop"></i> Crop</button>
      </div>
    </fieldset> 
  </footer>
</div>

<section class="row">
  <h3>Zoomer</h3>
  <div class="zoomer_wrapper zoomer_basic">
    <img src="/images/nasa-bw-1.jpg">
  </div>
</section>

<section class="row">
  <h3>Toolbar</h3>
  <div class="icon-bar five-up">
    <a class="item">
      <i class="icon-wrench"></i>
      <label>Edit</label>
    </a>
    <a class="item">
      <i class="icon-checkbox-partial"></i>
      <label>Aspect</label>
    </a>
    <a class="item">
      <i class="icon-zoomin"></i>
      <label>Zoom In</label>
    </a>
    <a class="item">
      <i class="icon-zoomout"></i>
      <label>Zoom Out</label>
    </a>
    <a class="item">
      <i class="icon-crop"></i>
      <label>Crop</label>
    </a>
  </div>
</section>