{{outlet}}

<div class="component-cropsy layout">
  <!-- Outlet: Notification -->
  <header class="notifications">
    <div data-alert class="alert-box">
      {{#link-to "index"}}Get started with {{Cropsy.applicationName}}{{/link-to}}
      <a {{action 'closeNotification' this }} class="close">&times;</a>
    </div>
  </header>

  <!-- Outlet: Stage -->
  <section class="crop-stage">

    <div class="image-original zoomer_wrapper viewer" style="height:500px">
      <figure class="original">
        <img src="http://fillmurray.com/1280/920">
      </figure>

      <div class="selection ghost">
      </div>

      <div class="selection tinted">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1280 920" enable-background="new 0 0 1280 920" xml:space="preserve">

        <path d="M0,0v920h1280V0H0z M1073.8,893.8H206.2V26.2h867.6V893.8z"/>
        </svg>
      </div>
    </div>
  </section>

  <!-- Outlet: Results -->
  <aside class="result-panel">
    <figure class="result">
      <img src="http://fillmurray.com/420/420">
    </figure>

    <fieldset class="result-sizes">
      <label class="dimension">Height
        {{input type="text" placeholder="px"}}
      </label>

      <label class="dimension">Width
        {{input type="text" placeholder="px"}}
      </label>
    </fieldset>

    <button class="secondary radius" {{action 'finishCropping' this }}><i class="icon-close"></i> Cancel</button>
    <button class="success radius" {{action 'finishCropping' this }}><i class="icon-checkmark"></i> Finish</button>
  </aside>

  <!-- Outlet: Toolbar -->
  <footer>
    <fieldset class="toolbar">
      <div class="tool-aspect">
        <button class="warning radius" {{action 'setAspectRatio' this }} data-dropdown="drop1"><i class="icon-image"></i> <span class="name"> Aspect Ratio</span></button>
{{!--         <ul id="drop1" class="f-dropdown open" data-options="align:top" data-dropdown="drop" style="display: block; left: 0;">
          <li><a href="#">Square</a></li>
          <li><a href="#">3x2</a></li>
          <li><a href="#">16x9</a></li>
        </ul> --}}
      </div>

      <ul class="tool-zoom button-group radius">
        <li><button class="dark" {{action 'zoomIn' this }}><i class="icon-plus"></i><span class="name"> Zoom In</span></button></li>
        <li><button class="dark" {{action 'zoomOut' this }}><i class="icon-minus"></i> <span class="name"> Zoom Out</span></button></li>
      </ul>

      <div class="tool-crop">
        <button class="success radius" {{action 'cropImage' this }}><i class="icon-crop"></i> <span class="name">Crop</span> </button>
      </div>
    </fieldset> 
  </footer>
</div>

<section class="pattern row">
  <h3>Cropbox</h3>
  <div>
    <img src="/images/nasa-bw-1.jpg" class="crop">
  </div>
  <div class="results">
    <b>X</b>: <span class="cropX">0</span>
    <b>Y</b>: <span class="cropY">0</span>
    <b>W</b>: <span class="cropW">500</span>
    <b>H</b>: <span class="cropH">500</span>
  </div>
  <div class="download"><a>Download</a></div>
</section>

<section class="pattern row">
  <h3>Toolbar</h3>
  <div class="icon-bar five-up">
    <a class="item">
      <i class="icon-wrench"></i>
      <label>Edit</label>
    </a>
    <a class="item">
      <i class="icon-checkbox-partial"></i>
      <label>Aspect</label>
    </a>
    <a class="item">
      <i class="icon-zoomin"></i>
      <label>Zoom In</label>
    </a>
    <a class="item">
      <i class="icon-zoomout"></i>
      <label>Zoom Out</label>
    </a>
    <a class="item">
      <i class="icon-crop"></i>
      <label>Crop</label>
    </a>
  </div>
</section>

<section class="pattern component-cropsy row">
  <!-- Outlet: Stage -->
  <h3>Stage w/ Ghost</h3>
  <div class="crop-stage">
    <div class="image-original">
      <figure class="original staged">
         {{!--  <img src="http://fillmurray.com/1280/920"> --}}
      </figure>
    
      <div class="selection ghost item">
        <div class="spinner"></div>
      </div>

    </div>
  </div>
</section>

<section class="pattern component-cropsy row">
  <!-- Outlet: Stage -->
  <h3>Stage w/ Mask</h3>
  <div class="crop-stage">
    <div class="image-original luminated">
      <figure class="original gridded">
        <img src="http://fillmurray.com/1280/920">
      </figure>

      <div class="selection masked">
        <img src="http://fillmurray.com/1280/920">
      </div>
    </div>
  </div>
</section>  

<section class="pattern component-cropsy layout row">
  <!-- Outlet: Stage -->
  <h3>Cropper</h3>
    <div class="img-container">
    <img src="/images/nasa-bw-1.jpg">
    </div>

    <div class="result-panel">
      <div class="result-preview">
        <div class="img-preview"></div>
      </div>
    </div>
  </div>
</section>
