<section class="pattern component-cropsy layout row">

  <section class="crop-stage">

    <div class="img-container">
      <img {{bind-attr src="model.url"}}>
    </div>

  </section>

  <aside class="result-panel">
    <div class="result-preview">
      <div class="img-preview"></div>
    </div>
    <div class="panel callout">
      <fieldset class="result-sizes">
        <label class="dimension">Height
          {{input type="text" placeholder="px"}}
        </label>

        <label class="dimension">Width
          {{input type="text" placeholder="px"}}
        </label>
      </fieldset>
    </div>
  </aside>

  <button class="radius" {{action 'edit' this}}>Edit</button>
  {{outlet}}

</section>
