<div class="image-canvas">
  {{#if model.url}}
  <figure>
    <img {{bind-attr src="model.url"}} />
  </figure>
  {{else}}
  <figure>
    <p>We're having trouble finding your image.</p>
  </figure>
  {{/if}}
</div>

<footer>
  <button {{action 'cropImage' this }}>Crop</button>
</footer>

<p>
{{#each model.attributes}}
{{this.key}}: {{this.value}}<br />
{{/each}}
</p>

{{outlet}}
