<div class="image-canvas">
  {{#if model.url}}
  <figure>
    <img {{bind-attr src="model.url"}} />
  </figure>
  {{else}}
  <figure>
    <p>We're having trouble finding your image.</p>
  </figure>
  {{/if}}
</div>

<footer>
  <fieldset class="toolbar">
    <div class="tool-aspect">
      <button class="warning radius" {{action 'setAspectRatio' this }} data-dropdown="drop1"><i class="icon-image"></i> <span class="name"> Aspect Ratio</span></button>
      {{!-- 
      <ul id="drop1" class="f-dropdown open" data-options="align:top" data-dropdown="drop" style="display: block; left: 0;">
        <li><a href="#">Square</a></li>
        <li><a href="#">3x2</a></li>
        <li><a href="#">16x9</a></li>
      </ul>
      --}}
    </div>

    <ul class="tool-zoom button-group radius">
      <li><button class="dark zoom-in" {{action 'zoomIn' this }}><i class="icon-plus"></i><span class="name"> Zoom In</span></button></li>
      <li><button class="dark zoom-out" {{action 'zoomOut' this }}><i class="icon-minus"></i> <span class="name"> Zoom Out</span></button></li>
    </ul>

    <div class="tool-crop">
      <button class="success radius" {{action 'cropImage' this }}><i class="icon-crop"></i> <span class="name">Crop</span> </button>
    </div>
  </fieldset> 
</footer>

<p>
{{#each model.attributes}}
{{this.key}}: {{this.value}}<br />
{{/each}}
</p>

{{outlet}}
