<h1>Patterns</h1>

<div class="component-cropsy layout">

  <!-- Outlet: Notification -->
  <header class="notifications">
    <div data-alert class="alert-box">
      {{#link-to "index"}}Get started with {{Cropsy.applicationName}}{{/link-to}}
      <a {{action 'closeNotification' this }} class="close">&times;</a>
    </div>
  </header>

  <!-- Outlet: Stage -->
  <section class="crop-stage">

    <div class="image-original" style="height:500px">
      <figure class="original">
        <img src="http://fillmurray.com/1280/920">
      </figure>
    </div>
  </section>

  <!-- Outlet: Results -->
  <aside class="result-panel">
    <figure class="result">
      <img src="http://fillmurray.com/420/420">
    </figure>

    <fieldset class="result-sizes">
      <label class="dimension">Height
        {{input type="text" placeholder="px"}}
      </label>

      <label class="dimension">Width
        {{input type="text" placeholder="px"}}
      </label>
    </fieldset>

    <button class="secondary radius" {{action 'finishCropping' this }}><i class="icon-close"></i> Cancel</button>
    <button class="success radius" {{action 'finishCropping' this }}><i class="icon-checkmark"></i> Finish</button>
  </aside>

  <!-- Outlet: Toolbar -->
  <footer>
    <fieldset class="toolbar">
      <div class="tool-aspect">
        <button class="warning radius" {{action 'setAspectRatio' this }} data-dropdown="drop1"><i class="icon-image"></i> <span class="name"> Aspect Ratio</span></button>
{{!--         <ul id="drop1" class="f-dropdown open" data-options="align:top" data-dropdown="drop" style="display: block; left: 0;">
          <li><a href="#">Square</a></li>
          <li><a href="#">3x2</a></li>
          <li><a href="#">16x9</a></li>
        </ul> --}}
      </div>

      <ul class="tool-zoom button-group radius">
        <li><button class="dark zoom-in"><i class="icon-plus"></i><span class="name"> Zoom In</span></button></li>
        <li><button class="dark zoom-out"><i class="icon-minus"></i> <span class="name"> Zoom Out</span></button></li>
      </ul>

      <div class="tool-crop">
        <button class="success radius"><i class="icon-crop"></i> <span class="name">Crop</span> </button>
      </div>
    </fieldset> 
  </footer>

</div>

<section class="pattern row">
  <h3>Toolbar</h3>
  <div class="icon-bar five-up">
    <a class="item">
      <i class="icon-wrench"></i>
      <label>Edit</label>
    </a>
    <a class="item">
      <i class="icon-checkbox-partial"></i>
      <label>Aspect</label>
    </a>
    <a class="item">
      <i class="icon-zoomin"></i>
      <label>Zoom In</label>
    </a>
    <a class="item">
      <i class="icon-zoomout"></i>
      <label>Zoom Out</label>
    </a>
    <a class="item">
      <i class="icon-crop"></i>
      <label>Crop</label>
    </a>
  </div>
</section>

<section class="pattern component-cropsy row">
  <!-- Outlet: Stage -->
  <h3>Stage w/ Loader</h3>
  <div class="crop-stage">
    <div class="image-original">
      <figure class="original">
        <div class="spinner"></div>
      </figure>
    </div>
  </div>
</section>

<section class="pattern component-cropsy layout row">
  <!-- Outlet: Stage -->
  <h3>Cropper</h3>
  <section class="crop-stage">
    <div class="img-container">
    <img src="/images/nasa-bw-1.jpg">
    </div>
  </section>


  <aside class="result-panel">
    <div id="results-ratio" class="result-preview">
      <div class="img-preview"></div>
    </div>
    <div class="panel callout">
      <fieldset class="result-sizes">
        <label class="dimension">Height
          {{input type="text" placeholder="px"}}
        </label>

        <label class="dimension">Width
          {{input type="text" placeholder="px"}}
        </label>
      </fieldset>
    </div>
  </aside>
</section>

<section class="pattern row">
  <div class="icon-bar three-up">
    <a class="item">
      <i class="icon-wrench"></i>
      <label>Edit</label>
    </a>
    <a class="item" data-dropdown="topDrop" data-options="align: top">
      <i class="icon-checkbox-partial"></i>
      <label>Aspect</label>
    </a>
    <a class="item">
      <i class="icon-crop"></i>
      <label>Crop</label>
    </a>
  </div>
   <ul id="topDrop" class="f-dropdown" data-dropdown-content data-options="align:top">
      <li><a class="aspect-ratio" data-value="1"><i class="icon-1-1"></i> Square</a></li>
      <li><a class="aspect-ratio" data-value="1.5"><i class="icon-3-2"></i> 3 x 2 </a></li>
      <li><a class="aspect-ratio" data-value="1.778"><i class="icon-16-9"></i> 16 x 9 </a></li>
    </ul>
</section>

<section class="pattern row">
  <footer class="footer">
    <div class="toolbar">
      <a class="button success radius" data-dropdown="top-drop-medium" data-options="align: top"><i class="icon-ratio"></i> <span class="name">Aspect</span> </a>
      <a class="button reset-image secondary radius" {{action 'resetImage' this }}><i class="icon-close"></i> <span class="name">Cancel</span> </a>
    </div>
    <ul id="top-drop-medium" class="f-dropdown" data-dropdown-content>
      <li><a class="aspect-ratio" data-value="1"><i class="icon-1-1"></i> Square</a></li>
      <li><a class="aspect-ratio" data-value="1.5"><i class="icon-3-2"></i> 3 x 2 </a></li>
      <li><a class="aspect-ratio" data-value="1.778"><i class="icon-16-9"></i> 16 x 9 </a></li>
    </ul>
  </footer>
</section>
